html, body{
	margin: 0;
	padding: 0;
}
.body-background{
	position: fixed;
	margin: 0;
	padding: 0;
	background-image: url('../images/pattern.png');
	height: 100%;
	width: 100%;
	z-index: -1;
}
.square-container{
	position: fixed;
	z-index: -2;
}
.square{
	background-color: #e712ab;
	height: 30px;
	width: 30px;
	margin: 10px;
	position: absolute;
	z-index: -2;
}
.container{
	width: 1000px;
	height: 1000px;
	/*margin: 0 auto;*/
	background-color: white;
	position: absolute;
	top: 5vh;
	right: 5vw;
}